* {
    margin: 0;
    padding: 0;box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 75px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 16.83%, rgba(95, 218, 70, 0.2) 58.65%),
        linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(105, 220, 82, 0.4) 100%);

    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 12px 1px rgba(14, 13, 13, 0.3);
    position: sticky;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 12px 1px rgba(14, 13, 13, 0.3);
}

.logo-note a {
    font-size: 25px;
    color: #1A1A1A;
    font-weight: 700;
    margin-left: 5px;
}

.nav-note {
    display: flex;
    align-items: center;
}

.nav-note a {
    margin: 0 17px;
    font-weight: 400;
    /* color: rgb(0, 0, 0); */
    color: #1A1A1A;
    cursor: pointer;
}

.nav-note a:hover {
    color: rgb(231, 0, 0);
}

.sign-in {
    display: flex;
    align-items: center;
}

.sign-in button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #0D3311;
    cursor: pointer;
}

.sign-in button:hover {
    background-color: rgb(226, 101, 43);
}

.main {
    background-image: url(img2.jpeg);
    background-size: cover;
    width: 100%;
    height: 555px;
}

.main-1 {
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    font-size: 36px;
}

.main-2 {
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.required {
    color: red;
}

.form-container {
    background-color: transparent;
    width: 100%;
    max-width: 800px;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(65, 81, 65, 0.27);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #000;
}

.required {
    color: red;
    margin-left: 2px;
}

input {
    height: 45px;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    background-color: #dbe2ea;
    font-size: 16px;
    width: 100%;
    outline: none;
}

input:focus {
    box-shadow: 0 0 0 2px #0084ff;
}

/* Button Styling */
.button-container {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit {
    background-color: #000;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.submit:hover {
    background-color: #333;
}

@media (max-width: 600px) {
    form {
        grid-template-columns: 1fr;
    }

    .button-container {
        grid-column: span 1;
    }
}