* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 75px;
    /* background-color: rgba(27, 209, 39, 0.486); */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 16.83%, rgba(95, 218, 70, 0.2) 58.65%),
        linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(105, 220, 82, 0.4) 100%);

    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 12px 1px rgba(14, 13, 13, 0.3);
    position: sticky;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 12px 1px rgba(14, 13, 13, 0.3);
}

.logo-note a {
    font-size: 25px;
    color: #1A1A1A;
    font-weight: 700;
    margin-left: 5px;
}

.nav-note {
    display: flex;
    align-items: center;
}

.nav-note a {
    margin: 0 17px;
    font-weight: 400;
    /* color: rgb(0, 0, 0); */
    color: #1A1A1A;
    cursor: pointer;
}

.nav-note a:hover {
    color: rgb(231, 0, 0);
    font-size: 16.5px;
    font-weight: 400;
    text-decoration: underline;
}

/* .sign-in {
    display: flex;
    align-items: center;
}

.sign-in button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #0D3311;
    cursor: pointer;
}

.sign-in button:hover {
    background-color: rgb(226, 101, 43);
} */

/* MAIN  */
.main {
    width: 100%;
    height: 700px;
    background-color: rgba(76, 253, 88, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(img2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 110px;
}

.main-left h1 {
    font-size: 50px;
    line-height: 51px;
    margin-bottom: 10px;
}

.main-left h1 span {
    background: -webkit-linear-gradient(#0daaf3, #00b51e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn512 button {
    margin-right: 25px;
}

.btn512 {
    display: flex;
    margin-top: 25px;
}

.button {

    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(15, 179, 0);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
}

.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.button:hover .icon {
    transform: translate(4px);
}

.button:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}


/* .btn512 :hover {
    background-color: #BE5103;
}

.btn512:hover {
    background-color: rgb(207, 88, 33);
} */

.main-right img {
    height: 500px;
    width: 500px;
}

.main-left-mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 140px;
    position: absolute;
    top: 390px;
    left: 100px; */
}

.main-left-bottom h1 {
    font-size: 50px;
}

/* .main-left-bottom {
    position: absolute;
    top: 450px;
    left: 120px;

} */

.containt {
    display: flex;
    flex-direction: column;
    margin-right: 95px;
    margin-top: 70px;
    color: #043915;
}

.container {
    display: flex;
    margin-top: 25px;
}

.containt p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
/* VISION  */
.section {
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding: 50px 20px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 80px;
}

.item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.circle {
    width: 60px;
    height: 60px;
    background: #ff7846;
    border-radius: 50%;
}

.text h2 {
    letter-spacing: 4px;
    font-size: 22px;
    font-weight: 600;
    color: #777;
}

.text p {
    margin-top: 10px;
    color: #777;
    font-size: 16px;
    line-height: 1.7;
    max-width: 450px;
    text-align: left;
}

/* Responsive */
@media (max-width: 768px) {
    .grid-box {
        grid-template-columns: 1fr;
    }
}
.section {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to bottom, #a5d275, rgb(255, 255, 255));;
}
/* Contact Us  */
.contact-section {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 0 20px;
    margin-top: 80px;
    margin-bottom: 65px;
}

.box {
    background: #eeeeee;
    padding: 30px 20px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.icon {
    margin-bottom: 15px;
}

.box h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
}

.box p {
    color: #444;
    font-size: 14px;
    line-height: 1.6;
}

.email {
    color: #c56628;
    font-weight: 500;
}

/* Responsive */
@media (max-width: 900px) {
    .contact-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .contact-section {
        grid-template-columns: 1fr;
    }
}
/* .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
 .box .icon {
    margin-left: 94px;
    margin-bottom: 45px;
 }
 /* FOOTER  */
 .footer {
  text-align: center;
  padding: 40px 0;
  color: #cfd4da;
  background-color: #1f252b;
}

.footer-nav {
  margin-bottom: 20px;
}

.footer-nav a {
  color: #cfd4da;
  margin: 0 15px;
  text-decoration: none;
  font-size: 16px;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer hr {
  max-width: 90%;
  margin: 20px auto;
  border: 0;
  border-top: 1px solid #444;
}

.footer p {
  margin-top: 20px;
  font-size: 15px;
  color: #cfd4da;
}
