<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track</title>
    <link rel="stylesheet" href="TrackStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- NAVBAR  -->
    <section class="navbar-main">
        <div class="navbar">
            <div class="logo">
                <div class="logo-icon">
                    <a href="index.html"><img src="LOGO_WasteIq.jpg" alt=""></a>
                </div>
                <div class="logo-note">
                    <a href="">WasteIQ</a>
                </div>
            </div>
            <div class="nav-note">
                <a href="">Dashboard</a>
                <a href="">Complain Portal</a>
                <a href="">Service</a>
                <a href="">Awareness tips</a>
                <a href="">Contact Us</a>
            </div>
            <!-- <div class="sign-in">
                <button class="btn1" onclick="sign">Sign In</button>
            </div> -->
        </div>
    </section>
    <!-- MAP  -->
    <div class="map-section">
        <div class="main-wrapper">

            <!-- LEFT TABLE -->
            <div class="table-card">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Scheduled Time</th>
                        <th>Location</th>
                        <th>Completion</th>
                    </tr>

                    <tr>
                        <td>User 1</td>
                        <td>10:00 AM</td>
                        <td><img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" class="location-icon"></td>
                        <td> <input type="checkbox"> </td>
                    </tr>

                    <tr>
                        <td>User 2</td>
                        <td>10:15 AM</td>
                        <td><img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" class="location-icon"></td>
                        <td> <input type="checkbox"> </td>
                    </tr>

                    <tr>
                        <td>User 3</td>
                        <td>10:30 AM</td>
                        <td><img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" class="location-icon"></td>
                        <td> <input type="checkbox"> </td>
                    </tr>

                    <tr>
                        <td>User 4</td>
                        <td>10:45 AM</td>
                        <td><img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" class="location-icon"></td>
                        <td> <input type="checkbox"> </td>
                    </tr>

                    <tr>
                        <td>User 5</td>
                        <td>11:00 AM</td>
                        <td><img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" class="location-icon"></td>
                        <td> <input type="checkbox"> </td>
                    </tr>

                    <tr>
                        <td>User 6</td>
                        <td>11:30 AM</td>
                        <td><img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" class="location-icon"></td>
                        <td> <input type="checkbox"> </td>
                    </tr>

                    <tr>
                        <td>User 7</td>
                        <td>11:35 AM</td>
                        <td><img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" class="location-icon"></td>
                        <td> <input type="checkbox"> </td>
                    </tr>

                    <tr>
                        <td>User 8</td>
                        <td>11:45 AM</td>
                        <td><img src="https://cdn-icons-png.flaticon.com/512/535/535239.png" class="location-icon"></td>
                        <td> <input type="checkbox"> </td>
                    </tr>
                </table>
            </div>

            <!-- RIGHT MAP -->
            <div class="map-card">
                <img src="img5.png" alt="Map">
            </div>

        </div>
    </div>

</body>

</html>